  .react-datepicker {
    color: white ;
    border-radius: 5%;
    background: #666;
  }

  .react-datepicker > * {
    color: white ;
    
    border-radius: 5%;
    background: rgb(56, 56, 56);
  }

  .react-datepicker> * > * {
    color: white ;
    background: rgb(56, 56, 56);
  }

  .react-datepicker> * > * > *{
    color: white ;
    background: rgb(56, 56, 56);
  }

  .react-datepicker> * > * > * >*{
    color: white ;
    background: rgb(56, 56, 56);
  }

  .react-datepicker__navigation{
    background: transparent;
  }

  .react-datepicker__header{
    color: white ;
    border: 0;
    border-radius: 15%;
    background: rgb(56, 56, 56);
  }

  .react-datepicker__header >*{
    border-radius: 15%;
  }
  .react-datepicker__header > * > *{
    color: white ;
    border-radius: 50%;
    background: rgb(44, 44, 44);
  }

  #dateFilterInput {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 15vw;
  }

  #dateText {
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 15px; 
  }
  
  #outerContainer {
    margin-top: 2%;
    display:flex;
    flex-direction: row;
    
  }
 
