#OuterContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: -1%;
}

#moreDetailButton {
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    float: right;
    font-weight: 300;
    height: 20px;
    margin-top: auto;
    margin-right: 0; 
    padding: 1%;   
}

#moreDetailButton:hover {
    background: rgba(255, 255, 255, 0.45);   
}


#nav-dropdown-dark-example{
   color: #ffffff; 
}

#nav{
    margin-top: auto; 
 }