#OuterContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: -1%;
}

#moreDetailButton {
    align-items: center;
    border: 2px solid white;
    border-radius: 5px;
    display: flex;
    float: right;
    font-weight: 300;
    height: 20px;
    margin-top: auto;
    margin-right: 0; 
    padding: 1%;   
}

#moreDetailButton:hover {
    background: rgba(255, 255, 255, 0.45);   
}

 .Dropdown-root{
     margin-top: auto;
     background: black;
 }
 .Dropdown-root > *{
    background: black;
}

.Dropdown-control {
    background-color: black;
}


.Dropdown-menu > *  {
    color: white;
}

.myClassName{
    
}

.myControlClassName{
    background: #222 !important ;
    border: 2px solid white !important;
    border-radius: 5px !important;
}
.myControlClassName >* {
    background: #222 !important ;
}

.myPlaceholderClassName{
    background: inherit;
}

.myMenuClassName{
    background: #222 !important;
    border: 2px solid white !important;
    border-radius: 5px !important;
}

.myMenuClassName > *{
    color: white !important;
    border-radius: 10px !important;
}

.myMenuClassName > *:hover{
    background: black !important;
}

#searchInput {
margin-top: auto;
}