.checkoutArea {
    position: absolute;
    right: 0;
    width: 10%;
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

ul {
    height: 60vh;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-bottom: 10%;
    list-style-type: none;
    overflow-y: auto;
    padding: 3px;
}

ul li {
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 5px;
}

.checkoutButton {
    border: 1px solid white;
    border-radius: 5px;    
}