
.Message {
    font-size: 3vmin;
}

.PopupMessageDiv {
    display: flex;
    justify-content: center;
    background: #404040;
    border-radius: 4px;
    width: 30%;
    height: 0;
    padding-bottom: 5%;
}


.PopupMessageDiv > * {
    background: inherit;
    margin: 5%;
}
