
.programPageDiv {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
}

.moviesDiv {
    align-items: center;
    height: inherit;
}

.errorMessageText {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
}

.outerDiv {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
}