
.programPageDiv {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
}

.moviesDiv {
    align-items: center;
    height: 90vh;
}

.errorMessageText {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
}
