.RegisterPageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh
}

.RegisterDiv {
    display: block;
    background: #404040;
    border-radius: 4px;
    width: 30%;
    height: 0;
    padding-bottom: 25%;
}

.RegisterHeader {
    background: inherit;
    margin: 5%;
}

.RegisterButton {
    margin: 5%;
    background: #F3AF00;
    border-radius: 6px;
    width: 90%;
    justify-content: center;
    font-size: larger;
}