@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  background: #222222;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
}